body {
    margin: 1rem 25rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav {
    display: flex;
    width: 25rem;
    justify-content: space-around;
}

.content {
    display: flex;
    justify-content: space-between;
}

img {
   max-width: 100% ;
   height: auto;
}

.text {
    width: 55%;
    font-size: 1.2rem;
}

#portrait {
    width: 30%;
}

#skills img{
    max-width: 10%;
    height: auto;
}

#skills div {
    display: flex;
    justify-content: space-around;
}


#project_holder {
    display: flex;
    justify-content: space-around;
}

.project {
    width: 25%
}

#contact {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#contact img {
    max-width: 2rem;
    height: auto;
}

.contact_container {
    display: flex;
    align-items: center;
}